html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #302F2F; }

#horror,
#action,
#crime,
#animated {
  width: 100%;
  height: 350px;
  white-space: nowrap;
  overflow-x: scroll;
  display: flex;
  align-items: center;
  margin-bottom: 20px; }
  #horror > ::last-child,
  #action > ::last-child,
  #crime > ::last-child,
  #animated > ::last-child {
    border-right: 20px solid #302F2F;
    margin-right: 20px; }
  #horror img,
  #action img,
  #crime img,
  #animated img {
    height: 230px;
    margin: 10px 20px;
    transition: all 0.2s ease; }
    #horror img:hover,
    #action img:hover,
    #crime img:hover,
    #animated img:hover {
      transform: scale(1.09);
      box-shadow: 0px 0px 100px -21px #575757; }

::-webkit-scrollbar {
  background-color: #302F2F;
  height: 8px; }

::-webkit-scrollbar-thumb {
  background-color: #7F7D7D;
  border-radius: 50px; }

figure {
  text-align: center;
  color: white;
  font-family: sans-serif; }

h2 {
  display: block;
  text-transform: uppercase;
  border-top: 2px solid #191919;
  color: white;
  background-color: #6B6D70;
  font-size: 2rem;
  letter-spacing: 4px;
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: center;
  -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.54);
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.54); }

#main {
  position: fixed;
  height: 100vh;
  min-height: 400px;
  width: 100%;
  top: 0;
  left: 0;
  display: none; }
  #main .caption {
    position: absolute;
    bottom: 5vh;
    font-size: 1.5rem;
    transition: all 0.4s ease-in-out; }
  #main .mainImage {
    position: absolute;
    height: 80vh;
    min-height: 320px;
    top: 7vh;
    transition: all 0.4s ease-in-out; }
  #main .left {
    left: -100%; }
  #main .right {
    left: 200%; }
  #main .center {
    left: 50%;
    transform: translateX(-50%); }
  #main .moveLeft {
    left: -100%; }
  #main .moveRight {
    left: 200%; }
  #main #background {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.9) 35%, rgba(0, 0, 0, 0.88) 54%, rgba(0, 0, 0, 0.7) 100%); }
  #main #close {
    position: absolute;
    top: 50px;
    right: 12%;
    transform: translateX(-50%);
    color: #727375;
    font-family: sans-serif;
    font-size: 2rem;
    padding: 20px;
    transition: all ease 0.2s; }
    #main #close:hover {
      cursor: pointer;
      color: white; }
  #main .fa-arrow-circle-left {
    position: absolute;
    font-size: 3rem;
    padding-top: 40vh;
    width: 20%;
    height: 100vh;
    color: #727375;
    transition: all ease 0.2s; }
    #main .fa-arrow-circle-left:hover {
      color: #fff;
      cursor: pointer; }
  #main .fa-arrow-circle-right {
    position: absolute;
    font-size: 3rem;
    padding-top: 40vh;
    height: 100vh;
    width: 20%;
    right: 0;
    color: #727375;
    transition: all 0.2s; }
    #main .fa-arrow-circle-right:hover {
      color: #fff;
      cursor: pointer; }

#background {
  z-index: 1; }

#main img,
#main figcaption {
  z-index: 2; }
#main i,
#main #close {
  z-index: 3; }

/*# sourceMappingURL=main.css.map */
